<div class="c-event-list">
	<ul>
	{% for event in events %}
		<li class="c-event">
			<span class="c-event__dates">
				{# TODO päivämäärien ja kellonaikojen käsittely #}
				{% if event.datetimeEnd %}
					{{ event.datetimeStart|date('d.m.Y') }} – {{ event.datetimeEnd|date('d.m.Y') }}
				{% else %}
					{{ event.datetimeStart|date('d.m.Y') }}
				{% endif %}
			</span>
			<h3 class="c-event__title">{{ event.title }}</h3>
			{% if event.registrationLink or event.content %}
				<div class="c-event__actions">
					{% if event.registrationLink %}
						<a href="{{ event.registrationLink }}" class="c-button v-small">Ilmoittaudu</a>
					{% endif %}
					{% if event.content %}
						<a href="{{ path('event', { slug: event.slug }) }}" class="c-link-button v-small">Lisätiedot</a>
					{% endif %}
				</div>
			{% endif %}
		</li>
	{% endfor %}
	</ul>
</div>
