{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
	<h1>{{ article.title }}</h1>

	{% if article.authorName %}
		{{ article.authorName }} {{ article.created|date('d.m.Y') }}
	{% else %}
		{{ article.created|date('d.m.Y') }}
	{% endif %}

	{{ article.content|markdown }}

	{% include 'partials/attachments.html.twig' with { attachments: article.attachments } %}
{% endblock %}
