{% extends "layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
	<h1>{{ article.title }}</h1>

	{{ article.content|markdown }}

	{% if article.attachments %}
		<ul>
		{% for attachment in article.attachments %}
			<li>
				<a href="{{ attachment.file.url }}" type="{{ attachment.file.contentType }}">{{ attachment.title }}</a>
			</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}
