{% extends "layout.html.twig" %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
	<h1>{{ event.title }}</h1>

	{% if event.datetimeEnd %}
		{{ event.datetimeStart|date('d.m.Y H:i') }} – {{ event.datetimeEnd|date('d.m.Y H:i') }}
	{% else %}
		{{ event.datetimeStart|date('d.m.Y H:i') }}
	{% endif %}

	{{ event.content|markdown }}

	{% if event.registrationLink %}
		<a href="{{ event.registrationLink }}">Ilmoittaudu</a>
	{% endif %}

	{% include 'partials/attachments.html.twig' with { attachments: event.attachments } %}
{% endblock %}
