{% extends "layout.html.twig" %}

{% block title %}Etusivu{% endblock %}

{% block content %}
	<main id="content">
		<header class="c-header">
			<h1>{{ snippets.frontPageSlogan }}</h1>
		</header>

		<div class="c-intro">
			{{ snippets.frontPageIntro|markdown }}
			<div class="c-intro__cta">
				<a href="{{ path('join') }}" class="c-button">Liity mukaan!</a>
			</div>
		</div>

		<div class="c-section-container v-wide-narrow">

			<section class="c-section c-section-container__wide v-inverse">
				<h2>Artikkelit</h2>

				{% for article in articles %}
					{% include 'partials/article.html.twig' %}
				{% endfor %}

				<div class="c-section__actions">
					<a href="{{ path('articles') }}" class="c-button">Näytä lisää</a>
				</div>
			</section>

			<section class="c-section c-section-container__narrow v-inverse">
				<h2>Tapahtumat</h2>

				<div class="c-panel">
					<ul>
					{% for event in events %}
						<li>
							{# TODO päivämäärien ja kellonaikojen käsittely #}
							{% if event.datetimeEnd %}
								{{ event.datetimeStart|date('d.m.Y') }} – {{ event.datetimeEnd|date('d.m.Y') }}
							{% else %}
								{{ event.datetimeStart|date('d.m.Y') }}
							{% endif %}
							{{ event.title }}
							{% if event.registrationLink %}
								<a href="{{ event.registrationLink }}" class="c-button v-small">Ilmoittaudu</a>
							{% endif %}
							{% if event.content %}
								<a href="{{ path('event', { slug: event.slug }) }}" class="c-link-button v-small">Lisätiedot</a>
							{% endif %}
						</li>
					{% endfor %}
					</ul>
				</div>

				<div class="c-section__actions">
					<a href="{{ path('events') }}" class="c-button">Kaikki tapahtumat</a>
				</div>
			</section>
		</div>
	</main>

{% endblock %}
