{% extends "layout.html.twig" %}

{% block title %}Etusivu{% endblock %}

{% block content %}
	{% include 'partials/navigation.html.twig' with { variant: 'v-inverse' } %}
	<main id="content">
		<header class="c-image-header">
			<h1>{{ snippets.frontPageSlogan }}</h1>
		</header>

		<div class="c-intro">
			{{ snippets.frontPageIntro|markdown }}
			<div class="c-intro__cta">
				<a href="{{ path('join') }}" class="c-button">Liity mukaan!</a>
			</div>
		</div>

		<div class="c-section-container v-wide-narrow v-bg-dark">

			<section class="c-section c-section-container__wide v-inverse">
				<h2>Ajankohtaista</h2>

				{% include 'partials/article_list.html.twig' %}

				<div class="c-section__actions">
					<a href="{{ path('articles') }}" class="c-button">N채yt채 lis채채</a>
				</div>
			</section>

			<section class="c-section c-section-container__narrow v-inverse">
				<h2>Tapahtumat</h2>

				{% include 'partials/event_list.html.twig' %}

				<div class="c-section__actions">
					<a href="{{ path('events') }}" class="c-button">Kaikki tapahtumat</a>
				</div>
			</section>
		</div>
	</main>

{% endblock %}
